# --- Speed & Performance ---
cryptg
tgcrypto
uvloop; sys_platform != 'win32'

# --- Task Scheduling ---
apscheduler

# --- System & Utilities ---
colorama
pydantic
speedtest-cli
gdown
# مكاتب إضافية للتشغيل المطور
aiosqlite
pathlib

# --- Database Extension ---
sqlalchemy
sqlalchemy-utils

# --- Base & Features ---
telethon==1.31.0
Pillow
requests
GitPython
pyrogram
pytz
aiohttp
python-telegram-bot
phonenumbers
hachoir
beautifulsoup4
async_generator
# مكاتب ضرورية للأوامر الجديدة
python-magic
psutil
